<div "input">
  <input type="text" class='search_input' />
</div>

<div id="next_page">
 <strong>Next Page </strong> 
</div>


<div id="results">
  <div class="result">
  </div>
</div>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
<div id="wiki">
</div>
